assertions_1__1_assertions_1_safe
initialisation_1__1_initialisation_1_disableStaticInitialisation
intRules_1__1_intRules_1_javaSemantics
programRules_1__1_programRules_1_Java
runtimeExceptions_1__1_runtimeExceptions_1_ban
JavaCard_1__1_JavaCard_1_off
Strings_1__1_Strings_1_on
modelFields_1__1_modelFields_1_treatAsAxiom
bigint_1__1_bigint_1_on
sequences_1__1_sequences_1_on
moreSeqRules_1__1_moreSeqRules_1_on
reach_1__1_reach_1_off
integerSimplificationRules_1__1_integerSimplificationRules_1_full
permissions_1__1_permissions_1_off
wdOperator_1__1_wdOperator_1_L
wdChecks_1__1_wdChecks_1_off
mergeGenerateIsWeakeningGoal_1__1_mergeGenerateIsWeakeningGoal_1_off
Stop_2_at_1__1_Default
Proof_2_splitting_1__1_Delayed
Loop_2_treatment_1__1_Invariant
Block_2_treatment_1__1_Contract
Method_2_treatment_1__1_Contract
Dependency_2_contracts_1__1_On
Query_2_treatment_1__1_Off
Expand_2_local_2_queries_1__1_Off
Arithmetic_2_treatment_1__1_Basic
Quantifier_2_treatment_1__1_No_2_Splits
Class_2_axiom_2_rule_1__1_Off
Auto_2_Induction_1__1_Off
One_2_Step_2_Simplification_1__1_Disabled
